# Gradle
.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Bytecode & Logs
*.class
*.log

# OS & Temp files
.DS_Store
Thumbs.db
local.properties
*.bak
*.old

# VS Code
.vscode/

# AI & Agent local configurations
.agents/
